@use 'assets/styles/abstracts/variables/fonts' as *;
@use 'assets/styles/abstracts/variables/colors' as *;
@use 'assets/styles/keyframes' as *;

%appearance {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba($color: $primary-1, $alpha: 0.5);
  background-color: $primary-neutral-100;
  user-select: none;
}

%active-label {
  @extend %appearance;
  padding: 16px 22px;
  margin: 0;
  font-size: $size-text-large;
  color: $primary-1;
}

// RADIO
.radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
}

.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 1px;
  height: 1px;

  &:hover {
    & + .label {
      @extend %active-label;
    }
  }

  &:checked {
    & + .label {
      @extend %active-label;

      & + h3 {
        visibility: visible;
        opacity: 1;
        animation: makeVisible 0.4s ease-out;
      }
    }
  }
}

.label {
  display: inline-block;
  padding: 3px;
  font-size: 0;
  background-color: $primary-1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-out;

  & + h3 {
    position: absolute;
    left: 78px;
    visibility: hidden;
    opacity: 0;
  }
}

// BUTTON
.button {
  @extend %appearance;
  width: 50px;
  height: 50px;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
