@use 'assets/styles/abstracts/variables/fonts' as *;
@use 'assets/styles/abstracts/variables/colors' as *;
@use 'assets/styles/abstracts/variables/media-queries' as *;
@use 'assets/styles/abstracts/variables/wrappers' as *;
@use 'assets/styles/abstracts/variables/indents' as *;
@use 'assets/styles/abstracts/variables/z-index' as *;
@use 'assets/styles/abstracts/functions' as *;
@use 'assets/styles/keyframes' as *;

$border: 1px solid
  rgba(
    $color: $primary-1,
    $alpha: 0.1,
  );

.outerWrapper {
  position: relative;
  max-width: $main-desktop;
  min-height: 100vh;
  margin-left: $wrapper-main-desktop-left;
  padding: 167px 15px 104px;
  border-left: $border;
  border-right: $border;
  box-sizing: border-box;

  &::after {
    content: '';
    position: absolute;
    top: 14.1%;
    left: -1px;
    display: inline-block;
    width: 5px;
    height: 120px;
    background: linear-gradient($brand-2, $brand-3);

    @media screen and (max-width: calc($desktop-extra-large - 1px)) {
      top: calc-fluid-element(
        69.133,
        177.234,
        $tablet-album-orientation,
        $desktop-extra-large
      );
    }

    @media screen and (max-width: $tablet-album-orientation) {
      display: none;
    }
  }

  @media screen and (max-width: calc($desktop-extra-large - 1px)) {
    margin-right: calc-fluid-element(
      $wrapper-main-mobile-sides,
      $wrapper-main-desktop-right,
      $mobile-extra-small,
      $desktop-extra-large
    );
    margin-left: calc-fluid-element(
      $wrapper-main-mobile-sides,
      $wrapper-main-desktop-left,
      $mobile-extra-small,
      $desktop-extra-large
    );
    padding-top: calc-fluid-element(
      59,
      167,
      $tablet-album-orientation,
      $desktop-extra-large
    );
    padding-bottom: calc-fluid-element(
      14,
      104,
      $tablet-album-orientation,
      $desktop-extra-large
    );
  }

  @media screen and (max-width: $tablet-album-orientation) {
    padding: 58px 0 14px;
    border: none;
  }
}

.lineVertical {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $tablet-album-orientation) {
    display: none;
  }
}

.lineHorizontal {
  position: absolute;
  top: 38.2%;
  left: 0;
  transform: translateY(-38.2%);

  @media screen and (max-width: calc($desktop-extra-large - 1px)) {
    top: calc-fluid-element(
      367.04,
      480.17,
      $tablet-album-orientation,
      $desktop-extra-large
    );
  }

  @media screen and (max-width: $tablet-album-orientation) {
    display: none;
  }
}

.innerWrapper {
  position: relative;
  padding: 0 64px;

  @media screen and (max-width: $tablet-album-orientation) {
    padding: 0;
  }
}

.title {
  max-width: 353px;
}

.range {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 969px;
  user-select: none;
}

.buttons {
  display: flex;
  column-gap: 20px;

  @media screen and (max-width: $tablet-album-orientation) {
    column-gap: 8px;
  }
}

.circle {
  position: absolute;
  top: 9.1%;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: $tablet-album-orientation) {
    display: none;
  }
}

.sliderWrapper {
  display: grid;

  @media screen and (max-width: calc($desktop-extra-large - 1px)) {
    margin-top: calc-fluid-element(
      24,
      0,
      $tablet-album-orientation,
      $desktop-extra-large
    );
  }

  @media screen and (max-width: $tablet-album-orientation) {
    margin-top: 20px;
  }
}

.sliderInteraction {
  @media screen and (max-width: $tablet-album-orientation) {
    display: flex;
    align-items: center;
    column-gap: 39px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 120px;
  padding-left: 64px;

  @media screen and (max-width: $tablet-album-orientation) {
    grid-row: 2 / 3;
    row-gap: 6px;
    padding-left: 0;
  }
}

.slider {
  $buttons-gap: 24px;

  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  column-gap: $buttons-gap;
  max-width: 1408px;
  margin-top: 56px;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: calc($desktop-large - 1px)) {
    column-gap: 0;
  }

  @media screen and (max-width: $tablet-album-orientation) {
    grid-template-columns: 1fr;
    grid-row: 1 / 2;
    margin-top: 0;
  }

  > swiper-container {
    @media screen and (max-width: calc($desktop-extra-large - 1px)) {
      width: calc-fluid-element(
        930,
        1280,
        $desktop-medium,
        $desktop-extra-large
      );
    }

    @media screen and (max-width: calc($desktop-large - 1px)) {
      margin-left: 24px;
      margin-right: 12px;
    }

    @media screen and (max-width: $tablet-album-orientation) {
      width: calc-fluid-element(
        300,
        871.6,
        $mobile-extra-small,
        $tablet-album-orientation
      );
      min-height: 190px;
      margin-left: 0;
      margin-right: 0;
    }

    swiper-slide {
      opacity: 1;
      visibility: visible;
      animation: make-visible 1.35s ease-out;

      @media screen and (max-width: $tablet-album-orientation) {
        width: calc-fluid-element(
          179.2,
          281.59,
          $mobile-extra-small,
          $tablet-album-orientation
        );
      }
    }
  }
}

.headings {
  padding: 87px 174px 147px 137px;

  @media screen and (max-width: calc($desktop-extra-large - 1px)) {
    padding-top: calc-fluid-element(
      173,
      87,
      $tablet-album-orientation,
      $desktop-extra-large
    );
    padding-right: calc-fluid-element(
      9,
      174,
      $tablet-album-orientation,
      $desktop-extra-large
    );
    padding-left: calc-fluid-element(
      0,
      137,
      $tablet-album-orientation,
      $desktop-extra-large
    );
  }

  @media screen and (max-width: $tablet-album-orientation) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 140px;
    padding-top: 43px;
    padding-right: 9px;
    padding-bottom: 3px;
    border-bottom: 1px solid $secondary-1;
  }
}

.sectionHeading {
  display: none;

  @media screen and (max-width: $tablet-album-orientation) {
    display: block;
  }
}
