@use 'assets/styles/abstracts/variables/colors' as *;

// DIRECTIONS
.vertical {
  border-left: 1px solid rgba($color: $primary-1, $alpha: 0.1);
  height: 100%;
}

.horizontal {
  border-top: 1px solid rgba($color: $primary-1, $alpha: 0.1);
  width: 100%;
}
