@use 'assets/styles/abstracts/variables/fonts' as *;
@use 'assets/styles/abstracts/variables/colors' as *;
@use 'assets/styles/abstracts/variables/media-queries' as *;
@use 'assets/styles/abstracts/functions' as *;

.title {
  @extend %heading-size-medium;
  color: $primary-1;

  @media screen and (max-width: calc($desktop-extra-large - 1px)) {
    max-width: calc-fluid-element(
      123,
      353,
      $mobile-extra-small,
      $desktop-extra-large
    );
  }
  font-size: calc-fluid-element(
    calc($size-text-large * 10),
    calc($size-heading-2 * 10),
    $mobile-extra-small,
    $desktop-extra-large
  );
  line-height: calc-fluid-element(
    24,
    67,
    $mobile-extra-small,
    $desktop-extra-large
  );
}
