@use 'assets/styles/abstracts/variables/fonts' as *;
@use 'assets/styles/abstracts/variables/colors' as *;
@use 'assets/styles/abstracts/mixins' as *;

$diameter: 530px;
$btn-size: 56px;

.circle {
  width: $diameter;
  height: $diameter;
  border: 1px solid rgba($color: $primary-1, $alpha: 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform 0.6s ease-in;
}

.tabs {
  position: relative;

  // NUMBERS
  &_2 {
    @include on-circle(
      $item-count: 2,
      $circle-size: $diameter,
      $item-size: $btn-size
    );
  }

  &_3 {
    @include on-circle(
      $item-count: 3,
      $circle-size: $diameter,
      $item-size: $btn-size
    );
  }

  &_4 {
    @include on-circle(
      $item-count: 4,
      $circle-size: $diameter,
      $item-size: $btn-size
    );
  }

  &_5 {
    @include on-circle(
      $item-count: 5,
      $circle-size: $diameter,
      $item-size: $btn-size
    );
  }

  &_6 {
    @include on-circle(
      $item-count: 6,
      $circle-size: $diameter,
      $item-size: $btn-size
    );
  }
}
