@import 'normalize.css/normalize.css';

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'PT Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
